---

---

<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Error 404 - Página No Encontrada</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>

<a href="http://andresaraque.com" target="_blank">
<header class="top-header">
</header>


<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>



<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>

<section class="error">
  <div class="error__content">
    <div class="error__message message">
      <h1 class="message__title">Página No Encontrada</h1>
      <p class="message__text">Lo sentimos, la página que estabas buscando no se encuentra aquí. El enlace que seguiste puede estar 
        roto o ya no existir. Por favor, intenta de nuevo, o regresa a nuestra <a href="https://andresaraque.com/" target="_blank">página de inicio</a>.</p>
    </div>
    <div class="error__nav e-nav">
      <a href="https://andresaraque.com/" target="_blank" class="e-nav__link">Regresar a la Página de Inicio</a>
    </div>
  </div>
</section>

</body>
</html>

